/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200&display=swap");

/* variables */
:root {
  --primary: #1e90ff;
  --secondary1: #ffc759;
  --secondary2: #ff7b9c;
  --secondary3: #f4b2c5;
  --secondary4: #e8e9ed;
  --secondary5: #222e50;
  --warning: #da0f41;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: var(--primary);
}

a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  background: var(--secondary3);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.btn:hover {
  background: var(--secondary2);
  color: white;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid var(--secondary);
  background: white;
}
input,
textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}
